{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<title>Dashboard</title>
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.21/b-1.6.3/b-html5-1.6.3/datatables.min.css"/>
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<link rel="stylesheet" href="{% static '../static/css/sidebar.css' %}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<script src="//cdn.datatables.net/plug-ins/1.10.21/filtering/row-based/range_dates.js"></script>
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.21/b-1.6.3/b-html5-1.6.3/datatables.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
	<nav class="d-nav">
		<div class="burger">
			<div class="line1"></div>
			<div class="line2"></div>
			<div class="line3"></div>
		</div>
		<ul class="nav-links">
			<li class="nav-link-links">
                <a href="{%url 'customer' %}" class="link-nav"></a>
					<img src="{% static '../static/resources/person.svg' %}" style="width:45%; height:45%;">
					<a href="{%url 'customer' %}" class="link-nav">Customer</a>
			</li>
			<li class="nav-link-links">
					<img src="{% static '../static/resources/product.svg' %}" style="width:45%; height:45%;">
					<a href="{%url 'product-dash' %}" class="link-nav">Product</a>
			</li>
		</ul>
		<div class="header">
			<h2>Dashboard</h2>
		</div>	
		<div class="header">
			<a class="toHome" href="{%url 'home'%}"><h2>Home</h2></a>
		</div>
	</nav>
	
	<div class="container">
		<div class="container1">
			<div>
				<label for="from">From</label>
				<input type="text" id="min" name="min" placeholder="dd/mm/yyyy">
				<label for="from">To</label>
				<input type="text" id="max" name="max" placeholder="dd/mm/yyyy">
			</div>
			<div>
				<a href="{% url 'product' %}" class="to-register"><button class="cont-btn">Add product</button></a>
			</div>
		</div>
		<div>		
			<table id="example" class="display tables">
			<thead>
				<tr>
					<th>Name</th>
					<th>Position</th>
					<th>Office</th>
					<th>Age</th>
					<th>Start date</th>
					<th>Salary</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr>
                    <td>Tiger Nixon</td>
                    <td>System Architect</td>
                    <td>Edinburgh</td>
                    <td>61</td>
                    <td>2011/04/25</td>
                    <td>$320,800</td>
                    <td>
                        <a data-toggle="modal" href="#exampleModal">View</a>
                        <a data-toggle="modal" href="#exampleModalDel">Delete</a>
                    </td>
                </tr>
                <tr>
                    <td>Garrett Winters</td>
                    <td>Accountant</td>
                    <td>Tokyo</td>
                    <td>63</td>
                    <td>2011/07/25</td>
                    <td>$170,750</td>
                    <td>
                        <a data-toggle="modal" href="#exampleModal">View</a>
                        <a data-toggle="modal" href="#exampleModalDel">Delete</a>
                    </td>
                </tr>
                <tr>
                    <td>Ashton Cox</td>
                    <td>Junior Technical Author</td>
                    <td>San Francisco</td>
                    <td>66</td>
                    <td>2009/01/12</td>
                    <td>$86,000</td>
                    <td>
                        <a data-toggle="modal" href="#exampleModal">View</a>
                        <a data-toggle="modal" href="#exampleModalDel">Delete</a>
                    </td>
                </tr>
                <tr>
                    <td>Brielle Williamson</td>
                    <td>Integration Specialist</td>
                    <td>New York</td>
                    <td>61</td>
                    <td>2012/12/02</td>
                    <td>$372,000</td>
                    <td>
                        <a data-toggle="modal" href="#exampleModal">View</a>
                        <a data-toggle="modal" href="#exampleModalDel">Delete</a>
                    </td>
                </tr>
                <tr>
                    <td>Herrod Chandler</td>
                    <td>Sales Assistant</td>
                    <td>San Francisco</td>
                    <td>59</td>
                    <td>2012/08/06</td>
                    <td>$137,500</td>
                    <td>
                        <a data-toggle="modal" href="#exampleModal">View</a>
                        <a data-toggle="modal" href="#exampleModalDel">Delete</a>
                    </td>
                </tr>
                <tr>
                    <td>Rhona Davidson</td>
                    <td>Integration Specialist</td>
                    <td>Tokyo</td>
                    <td>55</td>
                    <td>2010/10/14</td>
                    <td>$327,900</td>
                    <td>
                        <a data-toggle="modal" href="#exampleModal">View</a>
                        <a data-toggle="modal" href="#exampleModalDel">Delete</a>
                    </td>
                </tr>
                <tr>
                    <td>Colleen Hurst</td>
                    <td>Javascript Developer</td>
                    <td>San Francisco</td>
                    <td>39</td>
                    <td>2009/09/15</td>
                    <td>$205,500</td>
                    <td>
                        <a data-toggle="modal" href="#exampleModal">View</a>
                        <a data-toggle="modal" href="#exampleModalDel">Delete</a>
                    </td>
                </tr>
                <tr>
                    <td>Sonya Frost</td>
                    <td>Software Engineer</td>
                    <td>Edinburgh</td>
                    <td>23</td>
                    <td>2008/12/13</td>
                    <td>$103,600</td>
                    <td>
                        <a data-toggle="modal" href="#exampleModal">View</a>
                        <a data-toggle="modal" href="#exampleModalDel">Delete</a>
                    </td>
                </tr>
                <tr>
                    <td>Jena Gaines</td>
                    <td>Office Manager</td>
                    <td>London</td>
                    <td>30</td>
                    <td>2008/12/19</td>
                    <td>$90,560</td>
                    <td>
                        <a data-toggle="modal" href="#exampleModal">View</a>
                        <a data-toggle="modal" href="#exampleModalDel">Delete</a>
                    </td>
                </tr>
                <tr>
                    <td>Quinn Flynn</td>
                    <td>Support Lead</td>
                    <td>Edinburgh</td>
                    <td>22</td>
                    <td>2013/03/03</td>
                    <td>$342,000</td>
                    <td>
                        <a data-toggle="modal" href="#exampleModal">View</a>
                        <a data-toggle="modal" href="#exampleModalDel">Delete</a>
                    </td>
                </tr>
                <tr>
                    <td>Charde Marshall</td>
                    <td>Regional Director</td>
                    <td>San Francisco</td>
                    <td>36</td>
                    <td>2008/10/16</td>
                    <td>$470,600</td>
                    <td>
                        <a data-toggle="modal" href="#exampleModal">View</a>
                        <a data-toggle="modal" href="#exampleModalDel">Delete</a>
                    </td>
                </tr>
                <tr>
                    <td>Haley Kennedy</td>
                    <td>Senior Marketing Designer</td>
                    <td>London</td>
                    <td>43</td>
                    <td>2012/12/18</td>
                    <td>$313,500</td>
                    <td>
                        <a data-toggle="modal" href="#exampleModal">View</a>
                        <a data-toggle="modal" href="#exampleModalDel">Delete</a>
                    </td>
                </tr>
                <tr>
                    <td>Tatyana Fitzpatrick</td>
                    <td>Regional Director</td>
                    <td>London</td>
                    <td>19</td>
                    <td>2010/03/17</td>
                    <td>$385,750</td>
                    <td>
                        <a data-toggle="modal" href="#exampleModal">View</a>
                        <a data-toggle="modal" href="#exampleModalDel">Delete</a>
                    </td>
                </tr>
                <tr>
                    <td>Michael Silva</td>
                    <td>Marketing Designer</td>
                    <td>London</td>
                    <td>66</td>
                    <td>2012/11/27</td>
                    <td>$198,500</td>
                    <td>
                        <a data-toggle="modal" href="#exampleModal">View</a>
                        <a data-toggle="modal" href="#exampleModalDel">Delete</a>
                    </td>
                </tr>
                <tr>
                    <td>Paul Byrd</td>
                    <td>Chief Financial Officer (CFO)</td>
                    <td>New York</td>
                    <td>64</td>
                    <td>2010/06/09</td>
                    <td>$725,000</td>
                    <td>
                        <a data-toggle="modal" href="#exampleModal">View</a>
                        <a data-toggle="modal" href="#exampleModalDel">Delete</a>
                    </td>
                </tr>
                <tr>
                    <td>Gloria Little</td>
                    <td>Systems Administrator</td>
                    <td>New York</td>
                    <td>59</td>
                    <td>2009/04/10</td>
                    <td>$237,500</td>
                    <td>
                        <a data-toggle="modal" href="#exampleModal">View</a>
                        <a data-toggle="modal" href="#exampleModalDel">Delete</a>
                    </td>
                </tr>
                <tr>
                    <td>Bradley Greer</td>
                    <td>Software Engineer</td>
                    <td>London</td>
                    <td>41</td>
                    <td>2012/10/13</td>
                    <td>$132,000</td>
                    <td>
                        <a data-toggle="modal" href="#exampleModal">View</a>
                        <a data-toggle="modal" href="#exampleModalDel"> Delete</a>
                    </td>
                </tr>
                <tr>
                    <td>Dai Rios</td>
                    <td>Personnel Lead</td>
                    <td>Edinburgh</td>
                    <td>35</td>
                    <td>2012/09/26</td>
                    <td>$217,500</td>
                    <td>
                        <a data-toggle="modal" href="#exampleModal">View</a>
                        <a data-toggle="modal" href="#exampleModalDel">Delete</a>
                    </td>
                </tr>
                <tr>
                    <td>Jenette Caldwell</td>
                    <td>Development Lead</td>
                    <td>New York</td>
                    <td>30</td>
                    <td>2011/09/03</td>
                    <td>$345,000</td>
                    <td>
                        <a data-toggle="modal" href="#exampleModal">View</a>
                        <a data-toggle="modal" href="#exampleModalDel">Delete</a>
                    </td>
                </tr>
                <tr>
                    <td>Yuri Berry</td>
                    <td>Chief Marketing Officer (CMO)</td>
                    <td>New York</td>
                    <td>40</td>
                    <td>2009/06/25</td>
                    <td>$675,000</td>
                    <td>
                        <a data-toggle="modal" href="#exampleModal">View</a>
                        <a data-toggle="modal" href="#exampleModalDel">Delete</a>
                    </td>
                </tr>
			</tbody>
			<tfoot>
				<tr>
					<th>Name</th>
					<th>Position</th>
					<th>Office</th>
					<th>Age</th>
					<th>Start date</th>
					<th>Salary</th>
					<th>Action</th>
				</tr>
			</tfoot>
		  </table>
		</div>
	</div>
</body>

<!-- Modal -->
<div class="modal fade center" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-content">
		<div class="modal-header">
		<h5 class="modal-title" id="exampleModalLabel">Customer</h5>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		</div>
		<div class="modal-body">
			<div class="ddal">
				<label>Which do you want to update?</label>
				<select id="shoe" name="shoes">
					<option value="name">Name</option>
					<option value="position">Position</option>
					<option value="office">Office</option>
					<option value="age">Age</option>
					<option value="date">Date</option>
					<option value="salary">Salary</option>
				</select>
				<input type="text" name="ans" id="ans">
			</div>
		</div>
		<div class="modal-footer">
		<button type="button" class="btn btn-primary">Update</button>
		<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		</div>
	</div>
	</div>
</div>

<!-- Modal2 -->
<div class="modal fade center" id="exampleModalDel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-content">
		<div class="modal-header">
		<h5 class="modal-title" id="exampleModalLabel">Delete</h5>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		</div>
		<div class="modal-body">
			Are you sure you want to delete this record?
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-primary">Yes</button>
			<button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
		</div>
	</div>
	</div>
</div>

<script type="text/javascript" src="{% static '../static/javascript/sidebar.js' %}"></script>

</html>

<!--
	Icons from
	<div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> 
		from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
	Icons made by <a href="https://www.flaticon.com/authors/bqlqn" title="bqlqn">bqlqn</a> 
				from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
-->

